Flask
yt-dlp
requests
gunicorn
Pillow
pydub
pytesseract
SpeechRecognition
email_validator
flask-sqlalchemy
psycopg2-binary
fuzzywuzzy
python-Levenshtein
deep_translator
pdf2docx
python-docx
google-generativeai
PyMuPDF
werkzeug
