Flask
yt-dlp>=2025.01.01
requests
gunicorn
Pillow
pydub
pytesseract
SpeechRecognition
email_validator
flask-sqlalchemy
psycopg2-binary
fuzzywuzzy
python-Levenshtein
deep_translator
pdf2docx
python-docx
google-generativeai
PyMuPDF
werkzeug
deep_translator
docx
email_validator
Flask
flask-sqlalchemy
fuzzywuzzy
google-generativeai
gunicorn
pdf2docx
Pillow
psycopg2-binary
pydub
PyMuPDF
pytesseract
python-docx
python-Levenshtein
requests
SpeechRecognition
werkzeug
yt-dlp
deep_translator
email_validator
Flask
flask-sqlalchemy
fuzzywuzzy
google-generativeai
gunicorn
pdf2docx
Pillow
psycopg2-binary
pydub
PyMuPDF
pytesseract
python-docx
python-Levenshtein
requests
SpeechRecognition
werkzeug
yt-dlp
